/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/
body{
    background-color: rgb(136, 218, 213);
    font-family: 'Nerko One', Arial, Helvetica, sans-serif;
}

.container{
    width: 1024px;
    margin: auto;
}
/*Fine Common*/

/*Header*/
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 15px;
    text-shadow: 1px 01px grey;
}
/*Fine Header*/

/*Main*/
.row{
    text-align: center;
}

img{
    width: 130px;
    margin: auto;
    padding-top: 15px;
} 

.card{
    height: 200px;
    width: 20%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
}

.card img, .card .text-card{
    display: none;
}

.card:hover{
    background-image: none;
}

.card:hover img, .card:hover .text-card{
    display: block;
    color: rgb(233, 156, 13);
}

.text-card{
    font-size: 35px;
    color: rgb(204, 55, 204);
    text-shadow: 1px 1px black;
}

#special img, #special .text-card{
    display: block;
}

#special{
    background-image: none;
}
/*Fine Main*/

/*Footer*/
h3{
    text-align: center;
}
/*Fine Footer*/